# Silverback
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.pytest_cache/
.build/
.silverback*
.ruff*

# Bun
node_modules/
dist/
*.tsbuildinfo
coverage/
.npm
.eslintcache
.yarn/
.pnp.*
.cache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# IDE/OS
.vscode/
.idea/
.DS_Store

# Project specific
.db/
abi/

# Test coverage
coverage/
.nyc_output/
*.lcov